password=XXXX
mobile=+15555555555
twilioAssignedPhoneNumber=+15555555555
twilioAccountSid=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
twilioAuthToken=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
enableAuth=false
deployUrl=http://localhost:3000
supressTextMessages=false