<% include header %>

<div id="dashboard">
  <form method="POST" action="/login">
    <div class="row">
      <input type="password" name="password" placeholder="password" class="col-md-10" />
      <div class="clearfix visible-xs visible-sm" style="margin-top: 10px"></div>
      <a href="javascript:$('form').submit();" class="col-md-2">submit</a>
    </div>
  </form>
</div>

<% include footer %>
